{% extends "etudevet/base.html" %}
{% load static %}

{% block slider %}

</div>

<!-- Title bar --> 

<div class="main-content-top">	
	<div class="main-wrapper">	
		<div class="row">
			<div class="large-6 columns">
				<h2>Indicateurs Spécifiques</h2>
			</div>        
		</div>
	</div>		
</div>
<!-- End of Title bar --> 

<!-- Main content --> 

<div class="main-wrapper">
	<div class="content_wrapper">
		<div class="row">
			<div class="large-10 columns">
				<article class="post single-post">
					<h4>Quelques précisions sur les indicateurs les plus spécifiques.</h4>

					<div class="large-12 columns">
						</br>
						<h2>Classement Départemental, Régional, National</h2>
						<div class="divline"><span></span></div>
						<p class="post_text">Les données ont toujours plus de valeur en perspective. Nous essayons quand c'est possible de vous donner la situation de la ville dans un ensemble plus grand. </p>
					</div>
					<div class="large-12 columns">
						<h2>Indice de dépenses</h2>
						<div class="divline"><span></span></div>
						<p class="post_text">L'indice de dépenses indique si les habitants dépensent plus que la moyenne nationale pour leur animaux chez le vétérinaire. C'est un indicateur calculé en fonction de la répartition des revenus de la ville. </br> Un indice de 115 signifie que pour 100€ depensé en France, un habitant de la commune dépensera 115€.  </p>
					</div>
					<div class="large-12 columns">
						<h2>Dépenses vétérinaires</h2>
						<div class="divline"><span></span></div>
						<p class="post_text"> Les dépenses vétérinaires sont le résultat du croisement de 3 facteurs: nombre d'animaux médicalisés, la dépense moyenne par animal et l'indice de dépense.</p>
					</div>
				</article>

			</div>
		</div>
	</div>           
</div>
<!-- End of Main content --> 


{% endblock %}


{% block action_on_slider %}

{% endblock %}

{% block price %}

{% endblock %}