{% extends "etudevet/base.html" %}
{% load static %}

{% block slider %}

</div>

<!-- Title bar --> 

<div class="main-content-top">	
	<div class="main-wrapper">	
		<div class="row">
			<div class="large-6 columns">
				<h2>Qu'est ce que Etudevet?</h2>
			</div>        
		</div>
	</div>		
</div>
<!-- End of Title bar --> 

<!-- Main content --> 

<div class="main-wrapper">
	<div class="content_wrapper">
		<div class="row">
			<div class="large-10 columns">
				<article class="post single-post">
					<div class="large-12 columns">
						<div class="divline"><span></span></div>
						<h4 > En 2 lignes: </br></br> <p style="font-style:italic; text-align:center;">Etudevet est un site qui vous permet de faire une Approche de Marché de façon simple,</br> c'est à dire une estimation rapide de la clientèle potentielle d'une ville.</p></h4>
					</div>
				</article>

			</div>
		</div>
	</div>           
</div>
<!-- End of Main content --> 


{% endblock %}


{% block action_on_slider %}

{% endblock %}

{% block price %}

{% endblock %}