{% extends "etudevet/base.html" %}
{% load static %}

{% block slider %}

</div>

<!-- Title bar --> 

<div class="main-content-top">	
	<div class="main-wrapper">	
		<div class="row">
			<div class="large-6 columns">
				<h2>Etapes pour lancer un projet</h2>
			</div>        
		</div>
	</div>		
</div>
<!-- End of Title bar --> 

<!-- Main content --> 

<div class="main-wrapper">
	<div class="content_wrapper">
		<div class="row">
			<div class="large-10 columns">
				<article class="post single-post">
					<h3>Les 3 étapes pour un nouveau projet</h3>
					<p class="post_text">Pour un projet de création, voici les principales étapes:</p>
					<div class="post_img">
						<img alt="post title" src="{% static 'etudevet/img/etude_process.png' %}" class="post_image">
					</div>
					<div class="large-12 columns">
						<h2>1. L'Approche de Marché</h2>
						<div class="divline"><span></span></div>
						<p class="post_text">J'y vais, j'y vais pas? Une Approche de Marché est un terme utilisé dans le commerce spécialisé. Le principe est simple: évaluer de façon rapide et grossière le potentiel d'un projet. Il s’agit d'une première étape: Si l’approche montre un potentiel, une étude plus complète sur le terrain est lancée. Dans le cas contraire, un autre projet est recherché. </br>
						C'est dans cette étape qu'Etudevet vous apporte son expertise.</p>
					</div>
					<div class="large-12 columns">
						<h2>2. L'Étude de Marché</h2>
						<div class="divline"><span></span></div>
						<p class="post_text">L'Étude de Marché est la seconde étape. Elle a pour but de valider le potentiel réel du projet et se réalise sur le terrain  </p>
						<ol>
							<li>La zone de chalandise</li>
							<p>En vrai, quels sont mes clients? La réponse est sur le terrain! L'idée est de comprendre quels sont les flux naturels de la ville, les habitudes des habitants, etc. C'est un travail concret. Par exemple, le projet peut se situer sur une route qui draine plusieurs villes. De même, il est rare que l'on touche toute la clientèle d'une ville moyenne, les obstacles naturels comme un pont peuvent réduire la taille de ma clientèle. </p>
							<li>La concurrence</li>
							<p>Combien sommes-nous sur ce marché? Y-a-t-il de la place pour un autre vétérinaire? Il n'y a pas de réponse parfaite. Il faut évaluer la concurrence en quantité (nombre d'équivalent temps plein/marché estimé) et en qualité (est-ce que les habitants semblent attachés de leur vétérinaire?).</p>
							<p>Attention, ce n'est pas le nombre de vétérinaires qui comptent mais le chiffre d'affaires par vétérinaire: Il est plus facile de prendre 10% de part de marché à 3 vétérinaires que 30% à un seul!</p>
						</ol>
					</div>
					<div class="large-12 columns">
						<h2>3. L'Étude de faisabilité</h2>
						<div class="divline"><span></span></div>
						<p class="post_text">Bon, j'ai validé le potentiel sur le terrain. Il a un marché pour mon projet. C'est maintenant qu'on parle de faisabilité. En combien de temps vais-je atteindre ma vitesse de croisière? L'emplacement de mes rêves est-il finançable ? </p>
						<p class="post_text">Un conseil: Faites vous accompagner! Un (bon) comptable vous aidera monter votre business plan, à évaluer les coûts et faire un plan de trésorerie.</p>
					</div>
				</article>

			</div>
		</div>
	</div>           
</div>
<!-- End of Main content --> 


{% endblock %}


{% block action_on_slider %}

{% endblock %}

{% block price %}

{% endblock %}