{% extends "etudevet/base.html" %}
{% load static %}

{% block slider %}

</div>
<div class="main-wrapper">
    <img style="width: 1349px;  display: inline-block;z-index:-1;" src="{% static 'etudevet/img/background4.jpg' %}"  alt="" title="#caption3">

	<div class="row" style=" display: inline-block;">

		<div class="large-10 push-1 columns" style=" display: inline-block;">
	     	<h1 style=" display: inline-block;">3 offres <h2 class ='subheader'style=" display: inline-block;">- Choisissez l'offre la plus adaptée</h2></h1>

	        <!-- Pricing Tables --> 
			<div class="row">
			  <div class="large-4 columns">                      	
				<ul class="pricing-table">
					<li class="title"><h3>Pack 1 Ville</h3></li>
					<li class="price">250€</li>
					<li class="description">1 étude</li>
					<li class="bullet-item">Livraison 48H</li>
					<li class="bullet-item">8 pages</li>
					<li class="cta-button"><a href="#" class="button">Commander</a></li>
				</ul>
			  </div>

	          <div class="large-4 columns">
				<ul class="pricing-table">
					<li class="title"><h3>Pack 3 Villes</h3></li>
					<li class="price">480€</li>
					<li class="description">3 études</li>
					<li class="bullet-item">Livraison 48H</li>
					<li class="bullet-item">3 x 8 pages</li>
					<li class="cta-button"><a href="#" class="button">Commander</a></li>
				</ul>                            
	          </div>                            

	          <div class="large-4 columns">
				<ul class="pricing-table">
					<li class="title"><h3>Pack 5 Villes</h3></li>
					<li class="price">680€</li>
					<li class="description">5 études</li>
					<li class="bullet-item">Livraison 48H</li>
					<li class="bullet-item">5 x 8 pages</li>
					<li class="cta-button"><a href="#" class="button">Commander</a></li>
				</ul>                            
	          </div>                            
	        </div>
	        <!-- End Pricing Tables -->
		</div>
		
	</div>
</div>

{% endblock %}


{% block action_on_slider %}

{% endblock %}

{% block price %}

{% endblock %}